<div class="row">
    <div class="col-lg-4">
        <div class="widget-head-color-box navy-bg p-sm text-center">
            <div class="m-b-sm">
                <h2 class="font-bold no-margins">
                    @ViewBag.ad
                </h2>
               
            </div>
            <img src="~/WriterImageFiles/@ViewBag.v2" style="width:85px; height:100px" class="rounded-circle circle-border m-b-sm" alt="profile">
            @*<div>
                <span>100 Tweets</span> |
                <span>350 Takip Edilen</span> |
                <span>610 Takipçi</span>
            </div>*@
        </div>
        <div class="widget-text-box">
            <p>@ViewBag.v3</p>
        </div>
    </div>
    @*<div class="col-lg-2">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-shield fa-4x"></i>
                <h1 class="m-xs">456</h1>
                <h3 class="font-bold no-margins">
                    Shield
                </h3>
                <small>power</small>
            </div>
        </div>
        <div class="widget  p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-flash fa-4x"></i>
                <h1 class="m-xs">612</h1>
                <h3 class="font-bold no-margins">
                    Thunder
                </h3>
                <small>amount</small>
            </div>
        </div>
    </div>*@
    <div class="col-lg-4">
        <div class="widget lazur-bg p-xl">

            <h2 class="font-bold">
                @ViewBag.ad
            </h2>
            <ul class="list-unstyled m-t-xl">
                <li>
                    <span class="fa fa-envelope m-r-sm"></span>
                    <label>Email:</label>
                    @ViewBag.mail
                </li>
                <li>
                    <span class="fa fa-home m-r-sm"></span>
                    <label>Adres:</label>
                    @ViewBag.adres
                </li>
                <li>
                    <span class="fa fa-phone m-r-sm"></span>
                    <label>Telefon:</label>
                    @ViewBag.telefon
                </li>
            </ul>

        </div>
        @*<div class="widget red-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-bell fa-4x"></i>
                <h1 class="m-xs">47</h1>
                <h3 class="font-bold no-margins">
                    Notification
                </h3>
                <small>We detect the error.</small>
            </div>
        </div>*@
    </div>
    <div class="col-lg-4">
        <div class="widget yellow-bg p-xl text-center">
            <div class="m-b-lg">
                <i class="fa fa-thumbs-up fa-5x"></i>
                <h1 class="m-md">@ViewBag.blogBegeni</h1>
                <h3 class="font-bold no-margins">
                   Son Blogun Beğeni Sayısı
                </h3>
                @*<small>amount</small>*@
            </div>
        </div>
        @*<div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-warning fa-4x"></i>
                <h1 class="m-xs">Alarm</h1>
                <h3 class="font-bold no-margins">
                    Do
                </h3>
                <small>something</small>
            </div>
        </div>*@
    </div>
</div>