@using EntityLayer.Concrete
@model Comment
@{
    ViewData["Title"] = "CommentUpdate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<!DOCTYPE html>
<html>
<body>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <h1>Yorum Güncelleme Sayfası</h1>
                    <br />
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label hidden for="exampleInputName1">Yorum ID</label>
                            <input hidden type="text" name="CommentID" value="@Model.CommentID" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Yorum Yapanın Adı Soyadı</label>
                            <input type="text" name="CommentUserName" value="@Model.CommentUserName" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label hidden for="exampleInputName1">Yorum Yapılan Blog</label>
                            <input hidden type="text" name="BlogID" value="@Model.BlogID" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3">Yorum Tarihi</label>
                            <input type="text" name="CommentDate" value="@Model.CommentDate" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Yorum Konusu</label>
                            <input type="text" name="CommentTitle" value="@Model.CommentTitle" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3">Yorum</label>
                            @Html.TextAreaFor(x => x.CommentContent, 5, 3, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label hidden for="exampleInputEmail3">Yorum Durumu</label>
                            <input hidden type="text" name="CommentStatus" value="@Model.CommentStatus" class="form-control" readonly />
                        </div>
                        @*<div class="form-group">
                            <label hidden for="exampleInputEmail3">Blog Skor</label>
                            <input hidden type="text" name="BlogScore" value="@Model.BlogScore" class="form-control" readonly />
                        </div>*@

                        <button type="submit" class="btn btn-info">Kaydet</button>
                        <button type="reset" class="btn btn-danger">İptal</button>
                    </form>                
                </div>
            </div>
        </div>
    </div>
</body>
</html>


