@model EntityLayer.Concrete.Blog


@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

@*@using (Html.BeginForm("BlogAdd", "Blog", FormMethod.Post))
    {
        @Html.Label("Blog Başlığı")
        @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BlogTitle)
        <br />
        @Html.Label("Blog Görseli")
        @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BlogImage)
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
        <br />
        @Html.Label("Blog İçeriği")
        @Html.TextAreaFor(x => x.BlogContent,15,3, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BlogContent)
        <br />
        <button class="btn btn-info">Yazıyı Kaydet</button>

    }*@

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Yeni Blog Ekleme</h1>
            <br />
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Blog Başlığı</label>
                    <input type="text" name="BlogTitle" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Blog İçeriği</label>
                    @Html.TextAreaFor(x => x.BlogContent, 15, 3, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Blog Tarihi</label>
                    <input type="date" name="BlogCreateDate" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Kategori</label>
                    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.list, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail3">Blog Resmi</label>
                        <div class="col-lg-8">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <div class="uneditable-input">
                                        <i class="fas fa-file fileupload-exists"></i>
                                        <span class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn btn-default btn-file">

                                        <span class="fileupload-new">Dosya Seçiniz</span>
                                        <input type="file" name="BlogImage" required />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-gradient-primary mr-2">Ekle</button>
                <button type="reset" class="btn btn-light">İptal</button>
            </form>
        </div>
    </div>
</div>
