
<div class="row">
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.kullanicis</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-thumbs-up fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.begeni</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-file-text fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.blog</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-bell fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.bildirim</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-envelope fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.iletisim </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 yellow-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-user-plus fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.abone</h2>
                </div>
            </div>
        </div>
    </div>
</div>