@model CoreDemo.Models.UserAddViewModel

@{
    ViewData["Title"] = "WriterAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

@using (Html.BeginForm("WriterAdd", "Writer", FormMethod.Post))
{
    <form class="form-group" method="post" enctype="multipart/form-data">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yazar Ekleme Sayfası</h4>
                    <br />
                    @Html.HiddenFor(x => x.userId, new { @class = "form-control" })
                    <div class="forms-sample">
                        @*<div class="form-group">
                                <label for="exampleInputName1">Yazar Ad Soyad</label>
                                @Html.TextBoxFor(x => x.namesurname, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger" })
                            </div>*@
                        @*<div class="form-group">
                                <label for="exampleInputEmail3">Mail Adresi</label>
                                @Html.TextBoxFor(x => x.mail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.WriterMail, "", new { @class = "text-danger" })
                            </div>*@
                        @*<div class="form-group">
                                <label for="exampleInputPassword4">Şifre</label>
                                @Html.PasswordFor(x => x.password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @class = "text-danger" })
                            </div>*@
                        @*<div class="form-group">
                                <label for="exampleInputPassword5">Şifre, Tekrar</label>
                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>*@
                        @*<div class="form-group">
                                <label>Yazar Görseli</label>
                                <input type="file" name="WriterImage" />
                            </div>*@

                        <div class="form-group">
                            <label for="exampleTextarea1">Yazar Hakkında</label>
                            @Html.TextAreaFor(x => x.about, 10, 3, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleInputEmail3">Profil Fotoğrafı</label>
                                <div class="col-lg-8">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="input-append">
                                            <div class="uneditable-input">
                                                <i class="fas fa-file fileupload-exists"></i>
                                                <span class="fileupload-preview"></span>
                                            </div>
                                            <span class="btn btn-default btn-file">

                                                <span class="fileupload-new">Dosya Seçiniz</span>
                                                <input type="file" name="image" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-gradient-primary mr-2">Ekle</button>
                        <button class="btn btn-light">İptal</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
