@using EntityLayer.Concrete
@model Contact
@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<html>
<body>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" href="/Admin/AdminMessage/Inbox">Mesaj Kutusu</a>
                            <div class="space-25"></div>
                            <h5>Klasörler</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li><a href="/Admin/AdminMessage/Inbox"> <i class="fa fa-inbox "></i> Gelen Mesajlar <span class="label label-warning float-right">@ViewBag.gelenMesajSayisi</span> </a></li>
                                <li><a href="/Admin/AdminMessage/SendBox"> <i class="fa fa-send"></i> Giden Mesajlar <span class="label label-info float-right">@ViewBag.gidenMesajSayisi</span></a></li>
                                <li><a href="/Admin/AdminMessage/ComposeMessage"> <i class="fa fa-envelope-o"></i> Mesaj Oluştur</a></li>
                            </ul>
 
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 animated fadeInRight">

             
                    <section class="content-body content-body-modern mt-0" role="main">

                        <div style="width:100%">
                            <div class="mailbox-email-container">
                                <div class="mailbox-email-screen pt-2">
                                    <div class="card mt-0">
                                        <div class="card-header">
                                            <p class="card-title">@Model.ContactUserName <i class="fa-solid fa-angles-right"></i> @Model.ContactMail</p>
                                        </div>

                                        <div class="col-md-12 mailbox-compose-field">
                                            <label style="padding-top:14px" for="subject" class="control-label-invisible"><b>Konu:</b> @Model.ContactSubject </label>
                                            <br />
                                            <p class="card-body" value="">@Model.ContactMessage</p>
                                        </div>
                                        <div class="card-footer">
                                            <a class="btn btn-outline-dark" href="mailto:@Model.ContactMail">Mail Gönder</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

              



            </div>
        </div>
    </div>
</body>
</html>

